################################################################################
# Never commit compilation (by-)products and machine-specific settings.        #
################################################################################
.*
!.gitignore
!.gitattributes
